/Unity/Unity.Hotfix.csproj
/Unity/Unity.Editor.csproj
/Unity/Unity.Game.csproj
/Unity/Unity.ThirdParty.csproj
/Unity/Logs
/Unity/Assets/StreamingAssets/
/Release
/Unity/Release
/Unity/Sandbox
/Unity/CDN
/Unity/Bundles
/Unity/SimulationBundles
/Log
/Temp
/Logs
/Unity/Library
/Unity/.vs/
/Unity/Temp
/Unity/HybridCLRData
*/Temp/
*/TestResults/
*.pyc
*.suo
.cproject
.project
.pydevproject
.sconsign.dblite
*/.svn/
.svn/
bin/
Bin/
obj/
_ReSharper.CSharp/
*/.idea/
.vs/
.objs/
.vscode
